<section>
    <ul>
        <li>
            <div class="imagem">
                <img src="./rep1.png" alt="">
                <div class="data">29 OUT</div>
            </div>
            <div class="texto">
                <h2>How successful people make the most</h2>
                <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
                <div class="rodape">
                    <span>Admin | Comments</span>
                    <p>Read More →</p>
                </div>
            </div>
        </li>
        <li>
            <div class="imagem">
                <img src="./rep2.png" alt="">
                <div class="data">09 NOV</div>
            </div>
            <div class="texto">
                <h2>How successful people make the most</h2>
                <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
                <div class="rodape">
                    <span>Admin | Comments</span>
                    <p>Read More →</p>
                </div>
            </div>
        </li>
        <li>
            <div class="imagem">
                <img src="./rep3.png" alt="">
                <div class="data">19 NOV</div>
            </div>
            <div class="texto">
                <h2>How successful people make the most</h2>
                <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
                <div class="rodape">
                    <span>Admin | Comments</span>
                    <p>Read More →</p>
                </div>
            </div>
        </li>
        <li>
            <div class="imagem">
                <img src="./rep4.png" alt="">
                <div class="data">29 NOV</div>
            </div>
            <div class="texto">
                <h2>How successful people make the most</h2>
                <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
                <div class="rodape">
                    <span>Admin | Comments</span>
                    <p>Read More →</p>
                </div>
            </div>
        </li>
    </ul>
</section>